.w-20 {
    width: 20%;
  }
  
  .w-15 {
    width: 13%;
  }
  
  .w-10 {
    width: 10%;
  }

.btn-custom-size {
    width: 120px; /* Замените 100px на ваш желаемый размер по горизонтали */
    height: 30px; /* Замените 40px на ваш желаемый размер по вертикали */
    font-size: 13px; /* Размер текста кнопки */
    /* Другие стили по желанию */
  }