{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
    <h1 class="text-center">Изменить правило</h1>
    <div class="col-6">
    <form method="post" action="">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <div class="mb-3">Выберите группу источник</div>
        <select class="form-selechat.chat_namect form-select-lg mb-3" aria-label=".form-select-lg example", class="form-control" id="selected" name="sender_id">
            <option selected value="{{chat.chat_name.id}}">{{chat.chat_name.name[:45]}}</option>
            {% for ch in all_chat %}
                {% if ch.id != chat.chat_name.id %}
                    <option value="{{ ch.id }}">{{ch.name[:45]}}</option>
                {% endif %}
            {% endfor %}
          </select>
        <div class="mb-3">
            <label for="details" class="form-label">Ключевые слова</label>
            <textarea class="form-control" id="details" name="trigger_words" rows="5" required>{{chat.keywords}}</textarea>
        </div>
        <div class="mb-3">
            <label for="details" class="form-label">Исключить слова</label>
            <textarea class="form-control" id="details" name="exclude_words" rows="5" >{{chat.excludewords}}</textarea>
            
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="is_anonym" value="yes" id="flexCheckDefault" {% if chat.is_anonym %}checked{% endif %}>
            <label class="form-check-label" for="flexCheckDefault">
              Отправлять от собственного имени (не указывать источник)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="not_duplicate" value="yes" id="flexCheckDefaultnot_duplicate" {% if chat.not_duplicate %}checked{% endif %}>
            <label class="form-check-label" for="flexCheckDefault">
              Исключить дублирование
            </label>
          </div>
        <div class="mb-3">Выберите группу в которую отправлять сообщения</div>
        <select class="form-selechat.chat_namect form-select-lg mb-3" aria-label=".form-select-lg example", class="form-control" id="selected" name="recipient_id">
            <option selected value="{{chat.recipient.id}}">{{chat.recipient.name}}</option>
            {% for re in all_recipient %}
                {% if re.id != chat.recipient.id %}
                    <option value="{{re.id}}">{{re.name}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="{{PREFIX}}/" class="btn btn-primary">Назад</a>
    </form>
    </div>
    </div>
</div>
{% endblock %}