{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="card">
            <div class="card-header">
              Телеграм юзер бот 
            </div>
            <div class="card-body">
              {%include 'menu.html'%}
            </div>
        </div>
    </div>
</div>
<div class="container"></div>
    <div class="row justify-content-center mt-5"></div>
        <div class="card">
            <div class="card-body">
                <a href="{{PREFIX}}/controlchat" class="btn btn-primary">Обновить чаты</a>
                <a href="{{PREFIX}}/addchat" class="btn btn-primary">Добавить правило</a>
                
                {%include 'table.html'%}
                
                
            </div>
        </div>
    </div>
</div>


{% endblock %}